@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Start Breadcrumb-->
<div class="row">
    <div id="breadcrumb" class="col-xs-12">
        <a href="#" class="show-sidebar">
            <i class="fa fa-bars"></i>
        </a>
        <ol class="breadcrumb pull-left">
            <li><a href="javascript:void(0);">Các phương pháp</a></li>
            <li><a href="#">Phương pháp sắp xếp nhanh – Quick Sort</a></li>
        </ol>
        <div id="social" class="pull-right">
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
        </div>
    </div>
</div>
<!--End Breadcrumb-->

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-content">
                <p class="page-header">[1] Code cài đặt trên C# </p>
                <h4>Các bước tiến hành <small> Quick Sort  </small> </h4>
                <p>
                    Bước 1: Chọn tùy ý 1 phần tử a[k] trong dãy là giá trị mốc, l  k  r (với l, r là chỉ số phần tử đầu và phần tử cuối của dãy đang xét).
                    <br />x = a[k];	 i = l; 		j = r;
                    <br />Bước 2: Phát hiện và hiệu chỉnh cặp phần tử a[i], a[j] nằm sai chỗ
                    <br />Bước 2a: Trong khi a[i] < x: i++;
                    <br />Bước 2b: Trong khi a[j] >x: j--;
                    <br />Bước 2c: Nếu i<j: a[i] ≥ x ≥ a[j]     //a[j] đứng sau a[i]
                    <br />HoanVi (a[i], a[j]);
                    <br />Bước 3:	Nếu: i < j: Lặp lại Bước 2;
                    <br />Nếu i >= j: Dừng.
                </p>
                <p>

                </p>
                <p>
                    <pre>
public void QuickSort(T[] items) 
{     
    quicksort(items, 0, items.Length - 1); 
}  
                    </pre>
                    <pre>
private void quicksort(T[] items, int left, int right) 
{     
    if (left < right)     
    {         
        int pivotIndex = _pivotRng.Next(left, right);         
        int newPivot = partition(items, left, right, pivotIndex); 
 
        quicksort(items, left, newPivot - 1);         
        quicksort(items, newPivot + 1, right);     
    } 
}
</pre>

                    <pre>
private int partition(T[] items, int left, int right, int pivotIndex) 
{
    T pivotValue = items[pivotIndex];  
    Swap(items, pivotIndex, right);  
    int storeIndex = left; 

    for (int i = left; i < right; i++)     
    { 
        if (items[i].CompareTo(pivotValue) < 0)         
        {             
            Swap(items, i, storeIndex);             
            storeIndex += 1;         
        }
    }

    Swap(items, storeIndex, right);     
    return storeIndex; 
}
</pre>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-content">
                <p class="page-header">[2] Chạy thuật toán</p>
                <p>
                    Sắp xếp một danh sách sinh viên khoảng 2.000 dòng
                </p>
                <div class="form-group">
                    <button class="btn btn-primary" onclick="RunSort('SHS');"> Sắp xếp theo [Số Hồ Sơ] <i class="fa fa-location-arrow"></i>  </button>
                    <button class="btn btn-primary" onclick="RunSort('NgaySinh');"> Sắp xếp theo [Ngày Sinh] <i class="fa fa-location-arrow"></i>  </button>
                    <button class="btn btn-primary" onclick="RunSort('STT');"> Sắp xếp theo [STT] <i class="fa fa-location-arrow"></i>  </button>
                    <button class="btn btn-primary" onclick="RunSort('MSSV');"> Sắp xếp theo [MSSV] <i class="fa fa-location-arrow"></i>  </button>
                    <button class="btn btn-primary" onclick="RunSort('HoTen');"> Sắp xếp theo [Họ Tên] <i class="fa fa-location-arrow"></i>  </button>
                </div>

                <div id="divKetQua" style="display:none;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Tổng số Record</th>
                                <th>Sắp xếp theo</th>
                                <th>Tổng thời gian (Giây)</th>
                                <th>Kết quả</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span id="spanTotRec"></span></td>
                                <td><span id="spanSapXepTheo"></span></td>
                                <td><span id="spanTimeRunning"></span></td>
                                <td><a id="aOpenResult" href="javascript:void(0);" onclick="OpenResult();">Xem</a></td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    console.log("test búa xua!!");
    function RunSort(sType) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("AjaxQuickSort", "ThuatToan")',
            data: {
                type: sType
            },
            success: function (data) {
                if (data.status == 1) {
                    //spanTotRec
                    $("#spanTotRec").text(data.totalRecord);
                    $("#spanTimeRunning").text(data.totalTimeStr);
                    if (sType == "SHS") $("#spanSapXepTheo").text("Số hồ sơ");
                    if (sType == "NgaySinh") $("#spanSapXepTheo").text("Ngày Sinh");
                    if (sType == "STT") $("#spanSapXepTheo").text("Số thứ tự");
                    if (sType == "HoTen") $("#spanSapXepTheo").text("Họ Tên");
                    if (sType == "MSSV") $("#spanSapXepTheo").text("Mã Số SV");
                    $("#aOpenResult").attr("onclick", "OpenResult('QuickSort','"+sType+"')");
                    $("#divKetQua").show(500);
                }
                else {
                    $("#divKetQua").hide(500);
                    alert(data.sErr);
                }
            },
            async: false,
        });
    }

    function OpenResult(pp,type) {
        window.open('@Url.Action("GetResults", "ThuatToan")?pp='+pp+'&&sxt='+type);
    }
</script>
