<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Admin</title>
    <meta name="description" content="description">
    <meta name="author" content="DevOOPS">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="~/Scripts/plugins/bootstrap/bootstrap.css" rel="stylesheet">
    <link type="text/css" href="~/Scripts/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link type="text/css" href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <link type="text/css" href="~/Scripts/plugins/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link type="text/css" href="~/Scripts/plugins/fullcalendar/fullcalendar.css" rel="stylesheet">
    <link type="text/css" href="~/Scripts/plugins/xcharts/xcharts.min.css" rel="stylesheet">
    <link type="text/css" href="~/Scripts/plugins/select2/select2.css" rel="stylesheet">
    <link type="text/css" href="~/Scripts/plugins/justified-gallery/justifiedGallery.css" rel="stylesheet">
    <link type="text/css" href="~/Content/css/style_v1.css" rel="stylesheet">
    <link type="text/css" href="~/Scripts/plugins/chartist/chartist.min.css" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="http://code.jquery.com/jquery.js"></script>-->
    <script type="text/javascript" src="~/Scripts/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="~/Scripts/plugins/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/justified-gallery/jquery.justifiedGallery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/tinymce/jquery.tinymce.min.js"></script>
    <!-- All functions for this theme + document.ready processing -->
    <script type="text/javascript" src="~/Scripts/plugins/jQuery-Knob/jquery.knob.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/raphael/raphael-min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/springy/springy.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/morris/morris.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/springy/springyui.js"></script>
    <script type="text/javascript" src="~/Scripts/js/commonjs.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
            <script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
            <script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!--Start Header-->
    <div id="screensaver">
        <canvas id="canvas"></canvas>
        <i class="fa fa-lock" id="screen_unlock"></i>
    </div>
    <div id="modalbox">
        <div class="devoops-modal">
            <div class="devoops-modal-header">
                <div class="modal-header-name">
                    <span>Basic table</span>
                </div>
                <div class="box-icons">
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="devoops-modal-inner">
            </div>
            <div class="devoops-modal-bottom">
            </div>
        </div>
    </div>
    @Html.Partial("header")
    <!--End Header-->
    <!--Start Container-->
    <div id="main" class="container-fluid">
        <div class="row">
            <div id="sidebar-left" class="col-xs-2 col-sm-2">
                @Html.Partial("menu")
            </div>
            <!--Start Content-->
            <div id="content" class="col-xs-12 col-sm-10">
                <div id="about">
                    <div class="about-inner">
                        <h4 class="page-header">BÀI THUYẾT TRÌNH NHÓM 2 - HTTT 162</h4>
                        <p>Học viện bưu chính Viễn Thông - CS TP.HCM</p>                        
                     
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Title</th>
                                    <th>Họ Tên </th>
                                    <th>MSHV</th>
                                    <th>ĐTDĐ</th>
                                    <th>email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Ms</td>
                                    <td>Phan Cảnh Thị Cẩm Dung</td>
                                    <td>N16CHIS016</td>
                                    <td>0122 55 29 212</td>
                                    <td>camdungphan@gmail.com</td>
                                </tr>                               
                                <tr>
                                    <td>2</td>
                                    <td>Mr</td>
                                    <td>Vũ Đoàn Thanh Duy</td>
                                    <td>N16CHIS017</td>
                                    <td>0909 686 450</td>
                                    <td>duy.vdt@gmail.com</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Mr</td>
                                    <td>Trần Trung Hiền</td>
                                    <td>N16CHIS018</td>
                                    <td>0934 480 543</td>
                                    <td>tranhien106@gmail.com</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Mr</td>
                                    <td>Lê Ngọc Hiếu</td>
                                    <td>N16CHIS019</td>
                                    <td>0919 004 169</td>
                                    <td>occbuu@gmail.com</td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="pGhiChu">Thành phố Hồ Chí Minh - Ngày 13-02-2017</p>  
                    </div>

                </div>
                <div id="ajax-content">
                    @RenderBody()
                </div>
            </div>
            <!--End Content-->
        </div>
    </div>
    <!--End Container-->
</body>
</html>